
<div class="well">
<div class="comment clearfix">
  <div class="comment_content">

       
    <p class="comment_body"><%= comment.body %></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago| By <% if comment.user.nil? %>
  
   <% else %>
    <%= comment.user.email%>

  <% end %></p>
  </div>
   <% if current_user%>
  <% if current_user.id == @article.user_id %> 
  <p><%= link_to 'Delete', [comment.article, comment], 
                  method: :delete, 
                  class: "button", 
                  data: { confirm: 'Are you sure?' } %></p> 
<% end %>
<%end%>
</div>


</div>


