


    <%@latests = Article.all.order('created_at DESC').limit(3).joins(:user) %>

<% @latests.each do |latest| %>

                <div class="post-preview">
                    
                        <h6 class="post-title">
                            <%= link_to latest.title , latest %>
                            <hr>
                        </h6>
                     
                </div>
                

               

<%end%>