


<div class="row carousel-holder" style="width:103%; height:20%">
 <div class="col-md-12">
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators" style="margin-left:-6%; margin-top: 734px">
 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
 <li data-target="#carousel-example-generic" data-slide-to="3"></li>
 <li data-target="#carousel-example-generic" data-slide-to="4"></li>
</ol>

 <div class="carousel-inner" class="img-responsive">
 <div class="item active">
 <%= image_tag "1.jpg", class: "slide-image" %>
 <div class="carousel-caption">
 <h3>Mercedes-Benz GL63</h3>
</div>
 </div>

  <div class="item">
  <%= image_tag "2.jpg", class: "slide-image" %>
  <div class="carousel-caption">
  <h3> Ferrari F430</h3>
  </div>
  </div>
 
  <div class="item">
  <%= image_tag "3.jpg", class: "slide-image" %>
  <div class="carousel-caption">
  
  </div>
  </div>


  <div class="item">
  <%= image_tag "img3.jpg", class: "slide-image" %>
  <div class="carousel-caption">
  <h3>Bugatti Veyron 
  </h3>
  </div>
  
  </div>


 
  


  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="margin-top:355px">
  <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style="margin-top: 355px">
  <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>
  